In [1]:
import nsfg
import thinkstats2

In [ ]:
resp=nsfg.ReadFemResp()

In [8]:
hieducvar=resp['hieduc']
school= hieducvar[hieducvar <=10]
uni=hieducvar[hieducvar >0]
hieducvar

0        6
1       10
2        9
3        5
4        6
5        5
6        6
7        9
8        9
9       10
10       9
11       9
12       9
13       5
14       9
15       9
16       6
17       9
18       6
19       6
20      10
21       6
22      12
23      10
24       9
25       9
26      10
27      10
28       9
29       9
        ..
7613     7
7614    12
7615     5
7616    10
7617    12
7618    13
7619    13
7620     9
7621     9
7622     7
7623     9
7624    10
7625    10
7626    10
7627    10
7628     7
7629    12
7630     9
7631    10
7632     9
7633    10
7634     9
7635     9
7636     7
7637     9
7638    13
7639     7
7640    11
7641     6
7642    10
Name: hieduc, Length: 7643, dtype: int64

In [10]:
school

0        6
1       10
2        9
3        5
4        6
5        5
6        6
7        9
8        9
9       10
10       9
11       9
12       9
13       5
14       9
15       9
16       6
17       9
18       6
19       6
20      10
21       6
23      10
24       9
25       9
26      10
27      10
28       9
29       9
30      10
        ..
7600    10
7602    10
7608    10
7609     5
7610     9
7611     5
7612     9
7613     7
7615     5
7616    10
7620     9
7621     9
7622     7
7623     9
7624    10
7625    10
7626    10
7627    10
7628     7
7630     9
7631    10
7632     9
7633    10
7634     9
7635     9
7636     7
7637     9
7639     7
7641     6
7642    10
Name: hieduc, Length: 5498, dtype: int64

In [20]:
uni

0        6
1       10
2        9
3        5
4        6
5        5
6        6
7        9
8        9
9       10
10       9
11       9
12       9
13       5
14       9
15       9
16       6
17       9
18       6
19       6
20      10
21       6
22      12
23      10
24       9
25       9
26      10
27      10
28       9
29       9
        ..
7613     7
7614    12
7615     5
7616    10
7617    12
7618    13
7619    13
7620     9
7621     9
7622     7
7623     9
7624    10
7625    10
7626    10
7627    10
7628     7
7629    12
7630     9
7631    10
7632     9
7633    10
7634     9
7635     9
7636     7
7637     9
7638    13
7639     7
7640    11
7641     6
7642    10
Name: hieduc, Length: 7643, dtype: int64

In [27]:
birthday = resp['agemomb1']
birthdaymax=max(birthday)
birthdaymin=min(birthday)
birthdaymean=birthday.mean()
birthdayvar=birthday.var()
birthdaystd=birthday.std()
birthday

0        2
1        4
2        4
3        3
4        3
5        4
6        4
7        3
8        3
9        3
10       2
11       4
12       1
13       4
14       2
15       3
16       3
17       5
18       1
19       3
20       4
21       3
22       3
23       2
24       5
25       4
26       2
27       3
28       3
29       1
        ..
7613     3
7614     3
7615     3
7616     3
7617     4
7618     3
7619     3
7620     3
7621     4
7622     4
7623     3
7624     4
7625     5
7626     2
7627     3
7628     5
7629     4
7630     2
7631     1
7632     2
7633     3
7634     1
7635     2
7636     1
7637    96
7638     3
7639     4
7640     3
7641     3
7642     2
Name: agemomb1, Length: 7643, dtype: int64

In [28]:
birthdayvar

116.90559333798633

In [33]:
birthdaystd

10.812288996229537

In [34]:
birthdaymean

3.982075101399974

In [39]:
birthdaymax

96L

In [41]:
birthdaymin

1L